<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jadwal Mingguan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="senin">
      <ion-item slot="header" color="light">
        <ion-label>Senin</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>PGPGL</h2>
            <p>Pemprograman Geospatial Lanjut</p>
          </ion-label>
          <ion-label>
            <h2>METOPEN</h2>
            <p>Metodologi Penelitian</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion value="selasa">
      <ion-item slot="header" color="light">
        <ion-label>Selasa</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>Pendidikan Pancasila</h2>
            <p>Fakultas Filsafat</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion value="rabu">
      <ion-item slot="header" color="light">
        <ion-label>Rabu</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>SDGL</h2>
            <p>Sains Data Geospasil Lanjut</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>

    <ion-accordion value="kamis">
      <ion-item slot="header" color="light">
        <ion-label>Kamis</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <h2>APSIG SDA</h2>
            <p>Sumber Daya Air</p>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
